<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{% static 'home/css/styles.css' %}" rel="stylesheet" />
</head>
<body>

    <form action="../buscar/" method="get">

        <input type="text" name="buscar_proveedor" id="buscar_proveedor" placeholder="buscar..." value="{{request.GET.buscar_proveedor}}">
        <input type="submit" value="buscar">

    </form>
    <p>{{respuesta_busqueda}}<p>
    
    {% if resultado_proveedor %}
    
    <ul>
        {% for resultado_proveedor in resultado_proveedor %}
        <li>
            ID:{{resultado_proveedor.id}} |
            {{resultado_proveedor.name}} |
            E-mail : {{resultado_proveedor.email}} |
            Proevee: {{resultado_proveedor.provee}}
        </li>
        {% endfor %}
    </ul>
    {% endif %}


    
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'home/js/scripts.js' %} "></script>
</body>
</html>