<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de proveedores</title>
</head>
<body>

    <form action="../buscar/" method="get">

        <input type="text" name="buscar_proveedor" id="buscar_proveedor" placeholder="buscar...">
        <input type="submit" value="buscar">

    </form>


    {% for proveedor in proveedor %}

        <li>
            {{proveedor}}
        </li>
        <button>
            <a href="{% url 'proveedor_detalle' proveedor.id %}">ver</a>
        </button>
        <button>
            <a href="{% url 'proveedor_delete' proveedor.id %}">Eliminar</a>
        </button>|
        <button>
            <a href="{% url 'proveedor_update' proveedor.id %}">actualizar</a>
        </button>|
      
    {% endfor %}
    
    <div>
        <button>
            <a href="{% url 'proveedor_create' %}">agregar proveedor</a>
        </button>
    <div>

</body>
</html>