<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proveedor {{proveedor.name}}</title>
</head>
<body>
    
    <h1>Proveedor</h1>
    <h2>informacion del proveedor: {{proveedor.name}}</h2>

    {% if proveedor.imagen %}
    <img style="width: 150px; border-radius: 30%;" src="{{proveedor.imagen.url}}" alt="proveedor">
    {% endif %}
    <p>ID: {{proveedor.id}}</p>
    <p>Nombre: {{proveedor.name}}</p>
    <p>Numero de cuenta: {{proveedor.num_cuenta}}</p>
    <p>Cuit: {{proveedor.cuit}}</p>
    <p>Email: {{proveedor.email}}</p>
    <p>Direccion: {{proveedor.direccion}}</p>
    <p>whatsapp: {{proveedor.whatsapp}}</p>
    <p>Telefono: {{proveedor.phone}}</p>
    <p>Provee: {{proveedor.provee}}</p>
    <p></p>

</body>
</html>