<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
</head>
<body>
    

    <h1>Lista de Productos</h1>

    <form action="./buscar/" method="get">

        <input type="text" name="busqueda_productos" id="busqueda_productos" placeholder="buscar..." value="{{request.GET.busqueda_productos}}">
        <input type="submit" value="buscar">

    </form>

    <div>
        {% if producto %}

        {% for producto in producto %}
        <li>
            {{producto.name}} | marca: {{producto.marca}}| medida: {{producto.unidad}}
        </li>

        <button>
            <a href="{% url 'producto_detail' producto.id %}">Ver</a>
        </button>

        {% if user.is_superuser %}

        <button>
            <a href="{% url 'producto_update' producto.id %}">Editar</a>
        </button>

        <button>
            <a href="{% url 'producto_delete' producto.id %}">Borrar</a>
        </button>

        {% endif %}
        {% endfor %}
        
        {% else %}
        <p>No hay productos</p>
        {% endif %}
    </div>

    {% if user.is_superuser %}
        <p><button><a href="{% url 'producto_create' %}">crear producto</button></p>
    {% endif %}
    
</body>
</html>