<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{% static 'home/css/styles.css' %}" rel="stylesheet" />
</head>
<body>

    <form action="../buscar/" method="get">

        <input type="text" name="buscar_proveedor" id="buscar_proveedor" placeholder="buscar...">
        <input type="submit" value="buscar">

        {{respuesta}}
    </form>

    {% if proveedor %}
    
    <ul>
        {% for proveedor in proveedor %}
        <li>{{proveedor}}</li>
        {% endfor %}
    </ul>

    {% else %}
    <p>no hay resultados.<p>
    {% endif %}

    
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'home/js/scripts.js' %} "></script>
</body>
</html>