<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <header>

            
            <h1>Formulario de proveedor</h1>
        </header>
        <main>

            {% if my_form.erroes %}
            
            <p>esta mal los datos</p>

            {% endif %}

            <form action="" method="post">
                {% csrf_token %}
                <table>
                    {{ my_form.as_p }}
                </table>

                <input type="submit" value="enviar">
            </form>

        </main>
        <footer>

        </footer>
    </body>
</html>