<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Productos</h1>
    </header>
    <main>
        <h2>Producto 1:</h2>
        <img src="../img/botas_invierno.jpg" alt="botas de invierno">
    </main>
    <footer>
        <!-- FOOTER -->
    <footer class="text-white" style="background-color: rgba(0, 0, 0, 0.606);">
        <div class="container pt-4">
          <section class="mb-4 row">

            <!-- columna 1 facebook y instagram -->
            <div class="col-6">
                <a class="btn btn-link btn-floating btn-lg text-dark m-1"
                  href="https://www.facebook.com/profile.php?id=100011235213802&locale=es_LA"
                  role="button"
                  data-mdb-ripple-color="dark"><img class="small-img" src="./multimedia/img/facebook-logo.png" alt="logo de facebook"></a>
    
                <a class="btn btn-link btn-floating btn-lg text-dark m-1"
                  href="https://www.instagram.com/leandro_garro365/"
                  role="button"
                  data-mdb-ripple-color="dark"><img class="small-img" src="./multimedia/img/instagram-logo.png" alt="logo de instagram"></a>
            </div>
            
            <!-- columna 2 linkedin y github -->
            <div class="col-6">
                <a class="btn btn-link btn-floating btn-lg text-dark m-1"
                  href="https://www.linkedin.com/in/leandro-garro-723855294/"
                  role="button"
                  data-mdb-ripple-color="dark"><img class="small-img" src="./multimedia/img/linkedin-logo.png" alt="logo de linkedin"></a>
    
                <a class="btn btn-link btn-floating btn-lg text-dark m-1"
                  href="https://github.com/LeanGarro"
                  role="button"
                  data-mdb-ripple-color="dark"><img class="small-img" src="./multimedia/img/github-logo.png" alt="logo de github"></a>
            </div>

          </section>
        </div>

        <!-- Copyright -->
        <div class="text-center text-light p-3" style="background-color: rgba(0, 0, 0, 0.2);">© 2020 Copyright:
          <a class="text-light" href="#!">Lion's company</a>
        </div>
      </footer>
      <!-- FIN FOOTER -->
    </footer>
</body>
</html>