<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    {% for proveedor in proveedor %}

        <li>
            {{proveedor}}
        </li>
        <button>
            <a href="{% url 'proveedor_delete' proveedor.id %}">Eliminar</a>
        </button>|
        <button>
            <a href="{% url 'proveedor_update' proveedor.id %}">actualizar</a>
        </button>|
      
    {% endfor %}

    <br><br><br>
    <button>
        <a href="{% url 'proveedor_create' %}">agregar proveedor</a>
    </button>


</body>
</html>